<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blackjack</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body>

        {% if hands %}
            {% for player in players %}
                <div>
                    <span class="card_holder">
                        <img src="/static/img/cards/{{ hands[player][0].image() }}" height="200px"/>
                        <img src="/static/img/cards/{{ hands[player][1].image() }}" height="200px"/>
                    </span>
                    <span id="handvalue_{{ player }}">{{ blackjack.valueofhand(hands[player]) }}</span>
                    <button type="button" id="hitBtn">Hit</button>
                    <button type="button" id="standBtn">Stand</button>
                </div>
            {% endfor %}
                <div>
                    <span class="dealer_holder">
                        <img src="/static/img/cards/{{ hands['dealer'][0].image() }}" height="200px"/>
                        <img src="/static/img/cards/{{ hands['dealer'][1].image() }}" height="200px" style="display: none"/>
                        <img src="/static/img/cards/gray_back.png" height="200px"/>
                    </span>
                    <span id="dealervalue">{{ hands['dealer'][0].value(0) }}</span>
                    <span id="truedealervalue" style="display: none">{{ blackjack.valueofhand(hands['dealer']) }}</span>
                </div>
        {% endif %}

        <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
        <div class="message_holder"></div>

        <form action="" method="POST">
            <input type="text" class="username" placeholder="User Name"/>
            <input type="text" class="message" placeholder="Messages"/>
            <input type="submit"/>
        </form>

        <button type="button" id="joinBtn">Join</button>
        {% if players %}
            <button onClick="window.location.href='/deal';">Deal</button>
        {% endif %}

        <script type="text/javascript">
            $(document).ready(function () {
                let user_name = $('input.username').val();
                let hand_value = $('#handvalue_'+user_name);
                let dealer_holder = $('span.dealer_holder');
                let dealer_value = $('#dealervalue');
                const socket = io.connect('http://' + document.domain + ':' + location.port);
                socket.on('connect', function () {
                    socket.send('User has connected!');
                });
                socket.on('message', function(msg) {
                    if( typeof msg.user_name !== 'undefined' ) {
                        $('h3').text('');
                        $('div.message_holder').append('<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>');
                    }
                });
                socket.on('hit', function(msg) {
                    if( typeof msg.user_name !== 'undefined' ) {
                        if (msg.user_name === 'dealer') {
                            $(dealer_holder).append('<img src="/static/img/cards/' + msg.card_name + '" height="200px"/>');
                            $(dealer_value).html(msg.value);
                            if (msg.value > 21) {
                                $(dealer_value).html("Bust");
                            } else if (msg.value < 18) {
                                dealerHit();
                            }
                        } else {
                            $('span.card_holder').append('<img src="/static/img/cards/' + msg.card_name + '" height="200px"/>');
                            $(hand_value).html(msg.value);
                            if (msg.value > 21) {
                                $(hand_value).html("Bust");
                                $('#hitBtn').hide();
                                $('#standBtn').hide();
                            }
                        }
                    }
                });
                $('#joinBtn').on('click', function () {
                    if (typeof user_name !== undefined) {
                        socket.emit('join', {
                            user_name: user_name,
                            room: 'blackjack'
                        });
                    }
                });
                $('#hitBtn').on('click', function () {
                    socket.emit('hitSent', {
                        user_name : user_name,
                        card_name: 'gray_back.png',
                        value: $(hand_value).html()
                    });
                });
                $('#standBtn').on('click', function () {
                    $('#hitBtn').hide();
                    $('#standBtn').hide();
                    $($(dealer_holder).children('img')[1]).show();
                    $($(dealer_holder).children('img')[2]).remove();
                    $(dealer_value).html($('#truedealervalue').html());
                    if ($(dealer_value).html() <= 17) {
                        if ($(dealer_value).html() === 17) {
                            for (var i in $(dealer_holder).children('img')) {
                                if ($(dealer_holder).children('img')[i].src.contains("A")){
                                    dealerHit();
                                }
                            }
                        }
                        else {
                            dealerHit();
                        }
                    }
                });
                $('form').on('submit', function(e) {
                    e.preventDefault();
                    let user_input = $('input.message');
                    socket.emit( 'messageSent', {
                        user_name : user_name,
                        message : user_input.val()
                    });
                    user_input.val('').focus();
                });
                function dealerHit() {
                    socket.emit('hitSent', {
                        user_name : 'dealer',
                        card_name: 'gray_back.png',
                        value: $(dealer_value).html()
                    });
                }
            });
        </script>
    </body>
</html>